<template>
  <div class="inline-block" v-if="dataCities.data">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-light mx-1"
      data-toggle="modal"
      data-target="#modalCreateAddress"
    >
      <i class="fas fa-plus"></i>
      Create Address
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalCreateAddress"
      tabindex="-1"
      aria-labelledby="modalCreateAddressLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCreateAddressLabel">
              Create Address
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="nameAddress" class="mb-1"
                  ><span class="req-text">*</span>Name Address</label
                >
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="nameAddress"
                  aria-describedby="emailHelp"
                  required
                />
              </div>

              <div class="row mb-2">
                <div class="col">
                  <label for="selectCity" class="mb-1"
                    ><span class="req-text">*</span>City</label
                  >
                  <select
                    class="custom-select custom-select-sm"
                    id="inputGroupSelect02"
                    required
                  >
                    <option
                      v-for="(city, i) in dataCities.data.rajaongkir.results"
                      :key="i"
                      >{{ city.city_id }} - {{ city.city_name }}</option
                    >
                  </select>
                </div>
                <div class="col">
                  <label for="zipCode" class="mb-1"
                    ><span class="req-text">*</span>Zip Code</label
                  >
                  <select
                    class="custom-select custom-select-sm"
                    id="zipCode"
                    required
                  >
                    <option
                      v-for="(city, i) in dataCities.data.rajaongkir.results"
                      :key="i"
                      >{{ city.city_id }} - {{ city.postal_code }}</option
                    >
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="detailAddress" class="mb-1"
                  ><span class="req-text">*</span>Detail Address</label
                >
                <textarea
                  type="text"
                  class="form-control form-control-sm"
                  id="detailAddress"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-secondary form-control"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary form-control">
                    Create
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "ModalCreateAddress",
  methods: {
    ...mapActions("addresses", ["getCities"])
  },
  computed: {
    ...mapState("addresses", ["dataCities"])
  },
  async mounted() {
    await this.getCities();
  }
};
</script>
<style scoped>
#selectCity {
  padding: 8px;
  background-color: #f1f2f2;
  margin: 0.75rem 0;
}
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
.btn-secondary {
  background-color: white;
  color: #0e438a;
  border-color: none;
}
.inline-block {
  display: inline-block;
}
</style>
