<template>
  <div class="inline-block">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-light mx-1"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <i class="fas fa-plus"></i>
      Create Voucher
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Voucher</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit="addForm">
              <div class="form-group">
                <label for="discountname" class="mb-1"
                  ><span class="req-text">*</span>Discount Name</label
                >
                <input
                  v-model="discountName"
                  type="text"
                  class="form-control form-control-sm"
                  id="discountname"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="form-group">
                <label for="discount" class="mb-1"
                  ><span class="req-text">*</span>Discount</label
                >
                <input
                  v-model="totalDiscount"
                  type="number"
                  class="form-control form-control-sm"
                  id="discount"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="form-group">
                <label for="expired" class="mb-1"
                  ><span class="req-text">*</span>Expired Time</label
                >
                <input
                  v-model="expiredTime"
                  type="date"
                  class="form-control form-control-sm"
                  id="expired"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-secondary form-control"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary form-control">
                    Create
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "ModalCreateVoucher",
  data() {
    return {
      discountName: "",
      expiredTime: "",
      totalDiscount: ""
    };
  },
  methods: {
    addForm(e) {
      const payload = {
        discountName: this.discountName,
        expiredTime: this.expiredTime,
        totalDiscount: parseInt(this.totalDiscount)
      };
      this.addVouchers(payload);
      e.preventDefault();
      return false;
    },
    ...mapActions("vouchers", ["addVouchers"])
  }
};
</script>
<style scoped>
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
.btn-secondary {
  background-color: white;
  color: #0e438a;
  border-color: none;
}
.inline-block {
  display: inline-block;
}
</style>
