<template>
  <div class="inline-block col-12 mx-auto">
    <!-- Button trigger modal -->
    <div class="col-12 text-center">
      <button
        type="button"
        class="btn-payment btn btn-primary mx-auto mb-2 text-center"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Select Payment
      </button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select Payment</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="selectCity" class="mb-1"
                  ><span class="req-text">*</span>Bank</label
                >
                <select
                  class="custom-select custom-select-sm"
                  id="inputGroupSelect02"
                  required
                >
                  <option>BNI</option>
                  <option>BRI</option>
                  <option>BCA</option>
                </select>
              </div>

              <div class="row mt-5">
                <div class="col total-payment">
                  <h5>Total Payment</h5>
                  <p>Rp 96.400,-</p>
                </div>
                <div class="col">
                  <button
                    @click="pay"
                    type="button"
                    class="btn btn-primary form-control"
                  >
                    Pay
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ModalCreatePayment",
  methods: {
    pay() {
      alert("Mohon maaf belum dapat transaksi :')");
    }
  }
};
</script>
<style scoped>
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
.btn-secondary {
  background-color: white;
  color: #0e438a;
  border-color: none;
}
.inline-block {
  display: inline-block;
}
.btn-payment {
  width: 90%;
  height: 48px;
  background-color: #0f4389;
  border-radius: 8px;
}
.total-payment h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.total-payment p {
  color: #0f4389;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}
</style>
