<template>
  <div class="inline-block">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-light"
      data-toggle="modal"
      data-target="#modalCreateProduct"
    >
      <i class="fas fa-plus"></i>
      Create Product
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalCreateProduct"
      tabindex="-1"
      aria-labelledby="modalCreateProductLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCreateProductLabel">
              Create Product
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="reqData">
              <div class="form-group">
                <label class="mb-1"><span class="req-text">*</span>Name</label>
                <input
                  v-model="name"
                  type="text"
                  class="form-control form-control-sm"
                  required
                />
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Price</label
                  >
                  <input
                    v-model="price"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Size</label
                  >
                  <input
                    v-model="size"
                    type="number"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Stock</label
                  >
                  <input
                    v-model="stock"
                    type="number"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Weight</label
                  >
                  <input
                    v-model="weight"
                    type="number"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Color</label
                  >
                  <input
                    v-model="color"
                    type="text"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Material</label
                  >
                  <input
                    v-model="material"
                    type="text"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Category</label
                  >
                  <input
                    v-model="categoryName"
                    type="text"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Tags</label
                  >
                  <input
                    v-model="tags"
                    type="text"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
              </div>
              <div class="form-group mb-3">
                <div>
                  <label class="mb-1"
                    ><span class="req-text">*</span>Picture</label
                  >
                </div>
                <input
                  type="file"
                  ref="file"
                  @change="onFileChange"
                  class="block"
                  required
                />
                <button v-if="photo" @click="removeImage">
                  Remove Picture
                </button>
              </div>
              <div class="form-group">
                <label class="mb-1"
                  ><span class="req-text">*</span>Description</label
                >
                <textarea
                  v-model="description"
                  type="text"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-secondary form-control"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary form-control">
                    Create
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "ModalCreateProduct",
  data() {
    return {
      name: "",
      price: 0,
      size: 0,
      stock: 0,
      weight: 0,
      color: "",
      material: "",
      categoryName: "",
      tags: "",
      photo: null,
      description: ""
    };
  },
  methods: {
    /**
     * BELUM SELESAI ADD PRODUCT
     *
     */
    reqData() {
      const formData = new FormData();
      formData.append("name", this.name);
      formData.append("price", this.price);
      formData.append("size", this.size);
      formData.append("stock", this.stock);
      formData.append("weight", this.weight);
      formData.append("color", this.color);
      formData.append("material", this.material);
      formData.append("categoryName", this.categoryName);
      formData.append("tags", this.tags);
      formData.append("photo", this.photo);
      formData.append("description", this.description);
      this.addProducts(formData);
    },
    onFileChange() {
      this.photo = this.$refs.file.files[0];
    },
    removeImage() {
      this.photo = null;
    },
    ...mapActions("products", ["addProducts"])
  }
};
</script>
<style scoped>
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
.btn-secondary {
  background-color: white;
  color: #0e438a;
  border-color: none;
}
.inline-block {
  display: inline-block !important;
}
</style>
