<template>
  <div class="mt-4 mb-1 breadcrumb-comp">
    <router-link to="/">Dashboard</router-link> >
    <span>Detail Cart</span>
  </div>
</template>

<script>
export default {
  name: "BreadcrumbCart"
};
</script>
