<template>
  <div class="mt-4 mb-1 breadcrumb-comp">
    <router-link to="/">Dashboard</router-link> >
    <router-link to="/cart-detail">Detail Cart</router-link> >
    <span>Checkout</span>
  </div>
</template>

<script>
export default {
  name: "BreadcrumbProductDetail"
};
</script>
