<template>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalUpdateStore"
      tabindex="-1"
      aria-labelledby="modalUpdateStoreLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalUpdateStoreLabel">
              Update Product
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="update">
              <div class="form-group">
                <label class="mb-1"><span class="req-text">*</span>Name</label>
                <input
                  type="text"
                  v-model="name"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Price</label
                  >
                  <input
                    v-model="price"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Size</label
                  >
                  <input
                    v-model="size"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Stock</label
                  >
                  <input
                    v-model="stock"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Weight</label
                  >
                  <input
                    v-model="weight"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Color</label
                  >
                  <input
                    v-model="color"
                    type="text"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Material</label
                  >
                  <input
                    v-model="material"
                    type="text"
                    class="form-control form-control-sm"
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Category</label
                  >
                  <input
                    v-model="categoryName"
                    type="text"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col">
                  <label class="mb-1"
                    ><span class="req-text">*</span>Tags</label
                  >
                  <input
                    v-model="tags"
                    type="text"
                    class="form-control form-control-sm"
                  />
                </div>
              </div>
              <div class="form-group mb-3">
                <div>
                  <label class="mb-1"
                    ><span class="req-text">*</span>Picture</label
                  >
                </div>
                <input
                  @change="onSelect"
                  type="file"
                  ref="file"
                  class="block"
                />
              </div>
              <div class="form-group">
                <label class="mb-1"
                  ><span class="req-text">*</span>Description</label
                >
                <textarea
                  v-model="description"
                  type="text"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-secondary form-control"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary form-control">
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "ModalUpdateStore",
  props: ["idProduct"],
  data() {
    return {
      id: 0,
      name: "",
      price: 0,
      size: 0,
      stock: 0,
      weight: 0,
      color: "",
      material: "",
      categoryName: "",
      tags: "",
      photo: null,
      description: "",
    };
  },
  created() {
    this.getUserById();
  },
  computed: {
    ...mapState("products", ["detail"])
  },
  methods: {
    onSelect() {
      this.photo = this.$refs.file.files[0];
    },
    getUserById() {
      this.getById(this.idProduct.id).then(() => {
        this.name = this.detail.name;
        this.price = this.detail.price;
        this.size = this.detail.Variation.size;
        this.stock = this.detail.stock;
        this.weight = this.detail.weight;
        this.color = this.detail.Variation.color;
        this.material = this.detail.Variation.material;
        this.categoryName = this.detail.Category.categoryName;
        this.tags = this.detail.tags;
        this.photo = this.detail.photo;
        this.description = this.detail.description;
        this.id = this.detail.id;
      });
    },
    update() {
      const payload = {
        id: this.id,
        data: {
          name: this.name,
          price: this.price,
          size: this.size,
          stock: this.stock,
          weight: this.weight,
          color: this.color,
          material: this.material,
          categoryName: this.categoryName,
          tags: this.tags,
          photo: this.photo,
          description: this.description
        }
      };
      this.updateProducts(payload);
    },
    ...mapActions("products", ["updateProducts", "getById"])
  }
};
</script>
<style scoped>
.inline-block {
  display: inline-block !important;
}
.txt-btn {
  font-size: 0.75rem;
}
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
.btn-secondary {
  background-color: white;
  color: #0e438a;
  border-color: none;
}
</style>
