<template>
  <div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-light mx-1"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Update Profile
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="update">
              <div class="row mb-2">
                <div class="col">
                  <label for="firstname" class="mb-1"
                    ><span class="req-text">*</span>First Name</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="firstname"
                    v-model="datas.firstName"
                    aria-describedby="firstname"
                  />
                </div>
                <div class="col">
                  <label for="lastname" class="mb-1">Last Name</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="lastname"
                    v-model="datas.lastName"
                    aria-describedby="lastname"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="email" class="mb-1"
                    ><span class="req-text">*</span>Email</label
                  >
                  <input
                    type="email"
                    v-model="datas.email"
                    class="form-control form-control-sm"
                    id="email"
                    aria-describedby="email"
                    required
                  />
                </div>
                <div class="col">
                  <label for="phone" class="mb-1"
                    ><span class="req-text">*</span>Phone Number</label
                  >
                  <input
                    type="number"
                    v-model="datas.phoneNumber"
                    class="form-control form-control-sm"
                    id="phone"
                    aria-describedby="phone"
                    required
                  />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-secondary form-control"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary form-control">
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "ModalUpdateProfile",
  data() {
    return {
      datas: {}
    };
  },
  created() {
    this.users();
  },
  methods: {
    ...mapActions("users", ["updateProfiles"]),
    update() {
      const payload = {
        data: this.datas
      };
      this.updateProfiles(payload);
    },
    users() {
      const user = JSON.parse(localStorage.getItem("user"));
      this.datas = user;
    }
  }
};
</script>
<style scoped>
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
.btn-secondary {
  background-color: white;
  color: #0e438a;
  border-color: none;
}
</style>
