<template>
  <div class="container mb-5">
    <!-- Breadcrumb -->
    <BreadcrumbCart />
    <div class="row">
      <!-- Detail item in cart -->
      <div class="col-sm-12 col-md-12 col-lg-8">
        <!-- Display Cart item in md to xl -->
        <div class="detail-cart mt-3">
          <div class="d-flex">
            <img src="@/assets/img/nike-img.png" class="py-4 ml-4 img-cart" />
            <div class="ml-4 pt-4 sub-container">
              <p class="title-detail mb-2">Nike Running Unknown Series</p>
              <div
                class="d-flex justify-content-between price-text price-text-w"
              >
                <h3>Price</h3>
                <p>Rp 48.200</p>
              </div>
              <div
                class="d-flex justify-content-between price-text price-text-w"
              >
                <h3>Total Price</h3>
                <p>Rp 48.200</p>
              </div>
              <div
                class="d-flex justify-content-between price-text price-text-w"
              >
                <h3>Quantity</h3>
                <div class="d-flex justify-content-between">
                  <button class="detail-minus">
                    <i class="fas fa-minus-circle"></i>
                  </button>
                  <p class="px-3 pt-1 qty-text m-0">1</p>
                  <button class="detail-plus">
                    <i class="fas fa-plus-circle"></i>
                  </button>
                </div>
              </div>
            </div>
            <button>
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <!-- Display Cart item in sm to md -->
        <!-- <div class="detail-cart mt-3 d-block d-md-none">
          <div>
            <div class="text-center">
              <img src="@/assets/img/nike-img.png" class="img-cart-m my-3" />
            </div>
            <div class="ml-4 pt-1">
              <p class="title-detail mb-2">Nike Running Unknown Series</p>
            </div>
            <div class="d-flex justify-content-between mx-4 price-text">
              <h3>Price</h3>
              <p>Rp 48.200</p>
            </div>
            <div class="d-flex justify-content-between mx-4 price-text">
              <h3>Total Price</h3>
              <p>Rp 48.200</p>
            </div>
            <div class="d-flex justify-content-between mx-4 price-text">
              <h3>Quantity</h3>
              <div class="d-flex justify-content-between">
                <button class="detail-minus">
                  <i class="fas fa-minus-circle"></i>
                </button>
                <p class="px-3 pt-1 qty-text m-0">1</p>
                <button class="detail-plus">
                  <i class="fas fa-plus-circle"></i>
                </button>
              </div>
            </div>
            <div class="text-center">
              <button class="trash-m">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div> -->
      </div>

      <!-- Shopping Summary -->
      <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
        <div class="shopping-summary position-relative">
          <h4 class="m-3">Shopping Summary</h4>
          <div class="m-3 shopping-count d-flex justify-content-between">
            <p>Total Harga</p>
            <h5>Rp 96.400</h5>
          </div>
          <div class="col-12 text-center mx-auto">
            <router-link to="/cart-detail/product-checkout">
              <button
                class="mx-auto mb-2 text-light text-center btn btn-primary"
                type="button"
              >
                Checkout
              </button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreadcrumbCart from "@/components/Breadcrumb/BreadcrumbCart.vue";
export default {
  name: "CartDetail",
  components: {
    BreadcrumbCart
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sub-container {
  width: 70%;
}
.img-cart {
  border-radius: 8px;
}
.img-cart-m {
  border-radius: 8px;
  width: 150px;
  height: 150px;
}
.detail-cart {
  background: #ffffff;
  border: 1px solid #e9edf3;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.shopping-summary {
  height: 162px;
  background: #ffffff;
  border: 1px solid #e9edf3;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.shopping-summary h4 {
  font-size: 0.875rem;
  font-weight: bold;
}
.shopping-summary button {
  width: 90%;
  height: 48px;
  background-color: #0f4389;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  right: 0;
}
.shopping-count h5 {
  color: #0f4389;
  font-weight: bold;
}
.detail-cart > div > button {
  color: #717171;
  background: transparent;
  border-color: transparent;
  margin-top: auto;
  margin-bottom: 1.5rem;
}
.trash-m {
  color: #717171;
  background: transparent;
  border-color: transparent;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.price-text-w {
  width: 40%;
}
.price-text h3 {
  font-size: 0.875rem;
  color: #bdbec0;
  margin: 0 0 4px;
}
.price-text p {
  font-weight: bold;
  font-size: 0.875rem;
  color: #0f4389;
  margin: 0 0 4px;
}
.title-detail {
  font-weight: bold;
  font-size: 1rem;
}
.detail-minus {
  color: #ff6c4b;
  background: transparent;
  border-color: transparent;
  padding: 0;
}
.detail-plus {
  padding: 0;
  color: #0e438a;
  background: transparent;
  border-color: transparent;
}
.qty-text {
  color: #38383a;
}
</style>
