<template>
  <div class="container mb-5">
    <div class="row">
      <div class="mt-4 col-12 col-lg-7">
        <div
          id="carouselExampleInterval"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner rounded-lg" data-interval="1000">
            <div class="carousel-item active">
              <img
                src="@/assets/img/carousel-1.png"
                class="d-block w-100"
                alt="test 1"
              />
            </div>
            <div class="carousel-item" data-interval="2000">
              <img
                src="@/assets/img/carousel-2.png"
                class="d-block w-100"
                alt="test 2"
              />
            </div>
            <div class="carousel-item" data-interval="1500">
              <img
                src="@/assets/img/carousel-3.png"
                class="d-block w-100"
                alt="test 3"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleInterval"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleInterval"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="mt-4 col-12 col-lg-5">
        <div class="container">
          <h1 class="text-title mb-4">Best Seller for Today</h1>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="card card-custom">
                <img
                  src="@/assets/img/example-products.png"
                  class="card-img-top"
                  alt="sepatu"
                />
                <div class="card-body card-body-custom">
                  <p>Shoes</p>
                  <h3>Nike Shoes Unknown Series</h3>
                  <h4>Rp 28.200,-</h4>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card card-custom">
                <img
                  src="@/assets/img/example-products.png"
                  class="card-img-top"
                  alt="sepatu"
                />
                <div class="card-body card-body-custom">
                  <p>Shoes</p>
                  <h3>Nike Shoes Unknown Series</h3>
                  <h4>Rp 28.200,-</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Product />
  </div>
</template>

<script>
import Product from "@/components/Product.vue";
export default {
  name: "Dashboard",
  components: {
    Product
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mb-5 {
  margin-bottom: 90px !important;
}
.text-title {
  font-size: 1.875rem;
}
.card-custom {
  border: none;
}
.card-body-custom {
  padding: 0;
}
.card-body-custom p {
  color: #6a7077;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: 4px;
}

.card-body-custom h3 {
  color: #38383a;
  font-weight: 600;
  font-size: 1.25rem;
}
.card-body-custom h4 {
  color: #0e438a;
  font-weight: bold;
  font-size: 1rem;
}
</style>
