<template>
  <div class="container mb-5">
    <!-- Breadcrumb -->
    <BreadcrumbProducts />
    <Product />
  </div>
</template>

<script>
import BreadcrumbProducts from "@/components/Breadcrumb/BreadcrumbProducts.vue";
import Product from "@/components/Product.vue";
export default {
  name: "Products",
  components: {
    BreadcrumbProducts,
    Product
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
.product-card {
  margin: 8px 0;
  padding: 2px;
}

.sub-product-card {
  margin: 8px;
}

.sub-product-card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.sub-product-card p {
  color: #6a7077;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: 4px;
}
.sub-product-card h3 {
  color: #38383a;
  font-weight: 600;
  font-size: 1.25rem;
}
.sub-product-card h4 {
  color: #0e438a;
  font-weight: bold;
  font-size: 1rem;
}
</style>
