<template>
  <div class="container mb-5">
    <!-- Breadcrumb -->
    <BreadcrumbProductCheckout />

    <div class="row">
      <!-- Detail item in cart -->
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="address-checkout">
          <h5>Recipient Details</h5>
          <h4>Full Name</h4>
          <h3>6282123456789</h3>
          <p>Detail Address</p>
          <p>City, Zip Code</p>
          <div class="col-4 cont-select">
            <select class="custom-select">
              <option selected>Select Address</option>
              <option>address 2</option>
            </select>
          </div>
          <hr />
          <div class="col-12 cont-select-2">
            <select class="custom-select select-disc">
              <option selected>Select Discount Voucher</option>
              <option>Discount 1</option>
            </select>
          </div>
          <div class="col-12 cont-select-2">
            <select class="custom-select select-shipment">
              <option selected>Select Shipment</option>
              <option>Shipment 1</option>
            </select>
          </div>
        </div>

        <!-- Display Cart item in md to xl -->
        <div class="detail-cart mt-3 d-none d-md-block">
          <div class="d-flex">
            <img src="@/assets/img/nike-img.png" class="py-4 ml-4 img-cart" />
            <div class="ml-4 pt-4 sub-container">
              <p class="title-detail mb-2">Nike Running Unknown Series</p>
              <div
                class="d-flex justify-content-between price-text price-text-w"
              >
                <h3>Price</h3>
                <p>Rp 48.200</p>
              </div>
              <div
                class="d-flex justify-content-between price-text price-text-w"
              >
                <h3>Total Price</h3>
                <p>Rp 48.200</p>
              </div>
              <div
                class="d-flex justify-content-between price-text price-text-w"
              >
                <h3>Quantity</h3>
                <p>2 (800gr)</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Display Cart item in sm to md -->
        <div class="detail-cart mt-3 d-block d-md-none">
          <div>
            <div class="text-center">
              <img src="@/assets/img/nike-img.png" class="img-cart-m my-3" />
            </div>
            <div class="ml-4 pt-1">
              <p class="title-detail mb-2">Nike Running Unknown Series</p>
            </div>
            <div class="d-flex justify-content-between mx-4 price-text">
              <h3>Price</h3>
              <p>Rp 48.200</p>
            </div>
            <div class="d-flex justify-content-between mx-4 price-text">
              <h3>Total Price</h3>
              <p>Rp 48.200</p>
            </div>
            <div class="d-flex justify-content-between mx-4 price-text">
              <h3>Quantity</h3>
              <p>2 (800gr)</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Shopping Summary -->
      <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
        <div class="shopping-summary">
          <h4 class="m-3">Shopping Summary</h4>
          <div class="mx-3 detail-checkout d-flex justify-content-between">
            <p>Total Price</p>
            <h5>Rp 96.400</h5>
          </div>
          <div class="mx-3 detail-checkout d-flex justify-content-between">
            <p>Postal Fee</p>
            <h5>Rp 10.000</h5>
          </div>
          <div class="mx-3 detail-checkout d-flex justify-content-between">
            <p>*Discount Voucher</p>
            <h5>Rp 3.000</h5>
          </div>
          <hr />
          <div class="mx-3 shopping-count d-flex justify-content-between">
            <p>Total Payment</p>
            <h5>Rp 103.400</h5>
          </div>
          <ModalCreatePayment />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreadcrumbProductCheckout from "@/components/Breadcrumb/BreadcrumbProductCheckout.vue";
import ModalCreatePayment from "@/components/Modal/Create/ModalCreatePayment.vue";
export default {
  name: "ProductCheckout",
  components: {
    BreadcrumbProductCheckout,
    ModalCreatePayment
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
hr {
  margin: 0.25rem 0 !important;
}
.sub-container {
  width: 70%;
}
.select-disc {
  border-color: #0f4389;
  color: #0f4389;
}
.select-shipment {
  color: white;
  background-color: #fa591d;
}
.address-checkout {
  padding: 0 1.5rem;
}
.address-checkout h5 {
  font-size: 1rem;
  margin: 1rem 0;
}
.address-checkout h4 {
  font-size: 0.875rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}
.address-checkout h3 {
  font-size: 0.875rem;
  margin: 0.25rem 0;
}
.address-checkout p {
  font-size: 0.875rem;
  color: #8f8f8f;
  margin: 0;
}
.cont-select {
  padding: 0.875rem 0;
}
.cont-select-2 {
  padding: 0.5rem 0 0.25rem;
}
.img-cart {
  border-radius: 8px;
}
.img-cart-m {
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.shopping-summary {
  background: #ffffff;
  border: 1px solid #e9edf3;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.shopping-summary h4 {
  font-size: 0.875rem;
  font-weight: bold;
}
.shopping-summary button {
  width: 90%;
  height: 48px;
  background-color: #0f4389;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  right: 0;
}
.shopping-count h5 {
  color: #0f4389;
  font-weight: bold;
}
.shopping-count p {
  color: #000000;
  font-weight: bold;
}
.detail-checkout {
  margin: 0;
}
.detail-checkout h5 {
  font-size: 0.875rem;
  color: #331133;
}
.detail-checkout p {
  font-size: 0.875rem;
  color: #31353b;
}
.detail-cart > div > button {
  color: #717171;
  background: transparent;
  border-color: transparent;
  margin-top: auto;
  margin-bottom: 1.5rem;
}
.trash-m {
  color: #717171;
  background: transparent;
  border-color: transparent;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.price-text-w {
  width: 40%;
}
.price-text h3 {
  font-size: 0.875rem;
  color: #bdbec0;
  margin: 0 0 4px;
}
.price-text p {
  font-weight: bold;
  font-size: 0.875rem;
  color: #0f4389;
  margin: 0 0 4px;
}
.title-detail {
  font-weight: bold;
  font-size: 1rem;
}
.detail-minus {
  color: #ff6c4b;
  background: transparent;
  border-color: transparent;
  padding: 0;
}
.detail-plus {
  padding: 0;
  color: #0e438a;
  background: transparent;
  border-color: transparent;
}
.qty-text {
  color: #38383a;
}
</style>
