<template>
  <div class="container mb-5">
    <!-- Breadcrumb -->
    <BreadcrumbProductDetail />
    <div class="row">
      <!-- Product Detail -->
      <div class="d-flex">
        <div class="col pr-0">
          <img
            v-bind:src="detailProduct.picture"
            class="img-detail mx-2"
            alt="Detail Photo"
          />
        </div>
        <div class="col pl-0">
          <h2>{{ detailProduct.name }}</h2>
          <div class="d-flex price-text price-text-w">
            <h3 class="col-6 align-self-center">PRICE</h3>
            <h4 class="col-6 ">{{ detailProduct.price | currency }}</h4>
          </div>

          <div class="d-flex my-2 price-text price-text-w">
            <h3 class="col-6 align-self-center">QUANTITY</h3>
            <div class="d-flex my-2 col-6">
              <button class="detail-minus">
                <i class="fas fa-minus-circle"></i>
              </button>
              <p class="px-3 pt-1 qty-text m-0">1</p>
              <button class="detail-plus">
                <i class="fas fa-plus-circle"></i>
              </button>
            </div>
          </div>
          <div class="d-flex my-2 price-text price-text-w">
            <h3 class="col-6 align-self-center">STOCK</h3>
            <h5 class="col-6">{{ detailProduct.stock }}</h5>
          </div>
          <div class="d-flex my-2 price-text price-text-w">
            <h3 class="col-6 align-self-center">STOCK</h3>

            <div class="col-6">
              <table class="table table-borderless table-detail">
                <thead>
                  <tr>
                    <th scope="col">Weight</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Material</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ detailProduct.weight | weight }}</td>
                    <td>{{ detailProduct.Variation.size }}</td>
                    <td>{{ detailProduct.Variation.color }}</td>
                    <td>{{ detailProduct.Variation.material }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex my-2 price-text price-text-w">
            <h3 class="col-6 align-self-center">TAGS</h3>
            <h5 class="col-6 tags-text">{{ detailProduct.tags }}</h5>
          </div>
          <div class="d-flex my-2 mx-3">
            <button type="button" class="btn btn-primary mr-3 btn-buy">
              Buy
            </button>
            <button type="button" class="btn btn-primary btn-add">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col desc-text">
        <h6>DESKRIPSI</h6>
        <p>
          {{ detailProduct.description }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import BreadcrumbProductDetail from "@/components/Breadcrumb/BreadcrumbProductDetail.vue";
import { mapState, mapActions } from "vuex";

export default {
  name: "ProductDetail",
  components: {
    BreadcrumbProductDetail
  },
  data() {
    return {
      detailProduct: []
    };
  },
  created() {
    this.getProducts();
    this.getProductId();
  },
  computed: {
    ...mapState("products", ["dataProduct"])
  },
  methods: {
    ...mapActions("products", ["getProducts"]),
    getProductId() {
      this.detailProduct = this.dataProduct.data.filter(
        detailProduct => detailProduct.id == this.$route.params.id
      )[0];
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.img-detail {
  width: 400px;
  height: 400px;
}
.price-text h3 {
  font-size: 0.75rem;
  font-weight: bold;
  color: #bdbec0;
  margin: 0 0 4px;
}
.price-text h4 {
  font-weight: bold;
  font-size: 1.5rem !important;
  color: #0f4389;
  margin: 0 0 4px;
}
.price-text h4 {
  font-size: 1.25rem;
  margin: 0 0 4px;
}
.title-detail {
  font-weight: bold;
  font-size: 1rem;
}
.detail-minus {
  color: #ff6c4b;
  background: transparent;
  border-color: transparent;
  padding: 0;
}
.detail-plus {
  padding: 0;
  color: #0e438a;
  background: transparent;
  border-color: transparent;
}
.qty-text {
  font-size: 1rem;
}
.title-detail {
  font-weight: bold;
  font-size: 1.125rem;
}
.tags-text {
  font-size: 0.875rem !important;
}
.table-detail > thead > tr > th {
  color: #7d8084;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem 0.75rem 0;
}
.table-detail > tbody > tr > td {
  color: #393d43;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem 0.75rem 0;
  font-weight: bold;
}
.btn-buy {
  background-color: white;
  color: #0e438a;
  border-color: #0e438a;
}
.btn-add {
  background-color: #0e438a;
  color: white;
}
.desc-text h6 {
  font-weight: bold;
  color: #bdbec0;
  font-size: 0.75rem;
}
.desc-text p {
  font-size: 0.75rem;
}
</style>
