<template>
  <div class="container mb-5">
    <BreadcrumbSetting />
    <div class="mt-3 tab-setting">
      <router-link :to="{ name: 'Profiles' }" class="p-3 m-title"
        >Profile</router-link
      >
      <router-link :to="{ name: 'Addresses' }" class="p-3 m-title"
        >Address</router-link
      >
      <router-link
        v-if="type === 'admin'"
        :to="{ name: 'Stores' }"
        class="p-3 m-title"
        >Store</router-link
      >
      <router-link :to="{ name: 'Histories' }" class="p-3 m-title"
        >History</router-link
      >
      <router-link
        v-if="type === 'admin'"
        :to="{ name: 'Vouchers' }"
        class="p-3 m-title"
        >Voucher</router-link
      >
      <hr />
      <router-view />
    </div>
  </div>
</template>

<script>
import BreadcrumbSetting from "@/components/Breadcrumb/BreadcrumbSetting.vue";

export default {
  name: "Settings",
  components: {
    BreadcrumbSetting
  },
  data() {
    return {
      type: ""
    };
  },
  created() {
    this.typeUser();
  },
  methods: {
    typeUser() {
      const user = JSON.parse(localStorage.getItem("user"));
      this.type = user.type;
    }
  }
};
</script>
<style scooped>
hr {
  margin: 18px;
}
.tab-setting a {
  font-weight: bold;
  color: #a1a1a1 !important;
}

.tab-setting a.router-link-exact-active {
  color: #0e438a !important;
  border-bottom: #0e438a;
  border-bottom: solid;
}
@media (max-width: 576px) {
  .m-title {
    font-size: 0.875rem;
    padding: 4px !important;
  }
}
</style>
