<template>
  <div class="footer-cont">
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 footer-content">
          <p>&copy; 2020 UT Store. All right reserved</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="social-media footer-content">
            <a
              href="https://twitter.com/UnivTerbuka"
              target="_blank"
              class="px-2"
            >
              <i class="fab fa-twitter"></i>
            </a>

            <a
              class="px-2"
              href="https://www.facebook.com/UnivTerbuka"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>

            <a
              class="px-2"
              href="https://www.linkedin.com/school/universitas-terbuka/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FooterContent"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
hr {
  margin: 0 0 1rem;
}
.footer-cont {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
}

@media (min-width: 577px) {
  .social-media {
    float: right;
  }
}
@media (max-width: 576px) {
  .footer-content {
    text-align: center;
    margin: 0 auto;
  }
}
</style>
