<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light py-0 container">
      <router-link class="navbar-brand" to="/">
        <img src="@/assets/img/logo.svg" alt="Logo UT" />
      </router-link>
      <!-- <a class="navbar-brand">
        <img src="@/assets/img/logo.svg" alt="Logo UT" />
      </a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav navbar-color">
          <li class="nav-item">
            <a class="nav-link">
              <div class="input-group sign-in-search border rounded-pill p-2">
                <input
                  v-model="searchQuerry"
                  type="text"
                  class="form-control"
                  placeholder="Start your search"
                  aria-label="Start your search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button
                    class="navbar-search m-1"
                    @click="searchKey(searchQuerry)"
                  >
                    <i class="fas fa-search text-light"></i>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <div class="d-flex justify-content-between">
            <li class="nav-item pr-2">
              <router-link
                to="/cart-detail"
                class="nav-link cart-cont inline-block"
              >
                <i class="fas fa-shopping-cart"></i>
              </router-link>
            </li>
            <li class="nav-item pr-2">
              <router-link
                to="/setting"
                class="nav-link cart-cont inline-block"
              >
                <i class="fas fa-user-circle"></i>
              </router-link>
            </li>
            <!-- <li v-else class="nav-item border-left">
              <router-link to="/" class="nav-link">
                <div class="sign-in-btn border rounded-pill p-2 mx-auto">
                  <p class="signin-text mb-0 font-weight-bolder">
                    SIGN IN
                  </p>
                  <i class="signin-icon fas fa-user-circle pl-2"></i>
                </div>
              </router-link>
            </li> -->
          </div>
        </ul>
      </div>
    </nav>
    <hr />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "NavBar",
  components: {},
  data() {
    return {
      searchQuerry: ""
    };
  },
  methods: {
    // Masih belum berhasil search
    ...mapActions("products", ["searchProducts"]),
    searchKey(key) {
      key = this.searchQuerry;
      this.searchProducts(key);
    }
  },
  computed: {
    ...mapState("products", ["search"])
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
  border: none;
}
ul {
  width: 100%;
}
li {
  margin: auto;
}
hr {
  margin: 0 !important;
}
.cart-count {
  min-width: 20px;
  min-height: 20px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  background-color: rgb(239, 20, 74);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 18px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 4px;
  transform: translate(30%, -8%);
}
.cart-cont {
  width: 36px;
  height: 30px;
  padding: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.navbar-color {
  color: #38383a !important;
}
.sign-in-btn {
  color: #dddddd;
}
.signin-text {
  display: inline-block !important;
  font-size: 0.875rem;
  color: #38383a;
}
.signin-icon {
  font-size: 1rem;
  color: #38383a;
}
.navbar-search {
  background-color: #0f4389;
  border: 1px;
  border-radius: 100%;
  background-color: #0f4389;
}
.sign-in-search {
  width: 300px;
}
</style>
