<template>
  <div class="container">
    <h2>Products</h2>
    <select name="category" id="category">
      <option v-for="(product, i) in dataProduct.data" :key="i">{{
        product.Category.categoryName
      }}</option>
    </select>

    <div class="row">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-2"
        v-for="(product, i) in dataProduct.data"
        :key="i"
      >
        <div class="card card-custom hvr-product">
          <img :src="product.picture" class="card-img-top" alt="sepatu" />
          <div class="card-body card-body-custom">
            <p>{{ product.Category.categoryName }}</p>
            <router-link :to="`product-detail/${product.id}`"
              ><h3>{{ product.name }}</h3></router-link
            >
            <h4>{{ product.price | currency }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "Product",
  created() {
    this.getProducts();
  },
  computed: {
    ...mapState("products", ["dataProduct"])
  },
  methods: {
    ...mapActions("products", ["getProducts", "delProduct", "delAllProducts"])
  }
};
</script>
<style scooped>
.container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
/* .hvr-product:hover {
  z-index: 1;
  background-color: #000000;
  opacity: 0.3;
} */
#category {
  border-radius: 50px;
  padding: 8px;
  background-color: #f1f2f2;
  color: #717171;
  margin: 0.75rem 0;
}
.card-custom {
  border: none;
}
.card-body-custom {
  padding: 0;
}
.card-body-custom p {
  color: #6a7077;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: 4px;
}

.card-body-custom h3 {
  color: #38383a;
  font-weight: 600;
  font-size: 1.25rem;
}
.card-body-custom h4 {
  color: #0e438a;
  font-weight: bold;
  font-size: 1rem;
}
</style>
