<template>
  <div id="app">
    <NavBar />
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view />
    <FooterContent />
  </div>
</template>

<script>
import FooterContent from "@/components/FooterContent.vue";
import NavBar from "@/components/NavBar.vue";

export default {
  components: {
    NavBar,
    FooterContent
  }
};
</script>
<style>
html {
  position: relative;
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,
body {
  margin: 0;
  padding: 0;
}
.main-cont {
  margin-bottom: 100px; /* Height of footer*/
}
#app {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-height: 100%;
  min-width: 100%;
  /* min-height: 100%; */
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #38383a;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
a {
  color: #38383a !important;
}

/* For Breadcrumb */
.breadcrumb-comp {
  font-size: 0.75rem;
}
.breadcrumb-comp a {
  font-size: 0.75rem;
}
.breadcrumb-comp span {
  color: #bdbec0;
  font-size: 0.75rem;
}
/* End of breadcrumb */
</style>
