<template>
  <div class="container-custom mx-auto mb-5">
    <div class="w-100 mt-3 mb-3 text-center">
      <div class="row tab-sign">
        <router-link to="/sign-in" class="col-6">Sign In</router-link>
        <router-link to="/sign-up" class="col-6">Sign Up</router-link>
      </div>
    </div>
    <form @submit="sendRequest">
      <div class="row mb-2">
        <div class="col">
          <label for="firstname" class="mb-1"
            ><span class="req-text">*</span>First Name</label
          >
          <input
            v-model="datas.firstName"
            type="text"
            class="form-control form-control-sm"
            id="firstname"
            aria-describedby="firstname"
            required
          />
        </div>
        <div class="col">
          <label for="lastname" class="mb-1">Last Name</label>
          <input
            type="text"
            v-model="datas.lastName"
            class="form-control form-control-sm"
            id="lastname"
            aria-describedby="lastname"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="mb-1"
          ><span class="req-text">*</span>Username</label
        >
        <input
          v-model="datas.username"
          type="text"
          class="form-control form-control-sm"
          id="username"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <div class="form-group position-relative">
        <label for="password" class="mb-1"
          ><span class="req-text">*</span>Password</label
        >
        <input
          v-model="datas.password"
          type="password"
          class="form-control input-lg form-control-sm"
          id="password"
          required
        />
      </div>
      <div class="form-group position-relative">
        <label for="confirm" class="mb-1"
          ><span class="req-text">*</span>Confirm Password</label
        >
        <input
          v-model="datas.confirm"
          type="password"
          class="form-control input-lg form-control-sm"
          id="confirm"
          required
        />
      </div>
      <div class="row">
        <div class="col">
          <label for="email" class="mb-1"
            ><span class="req-text">*</span>Email</label
          >
          <input
            v-model="datas.email"
            type="email"
            class="form-control form-control-sm"
            id="email"
            aria-describedby="email"
            required
          />
        </div>
        <div class="col">
          <label for="phone" class="mb-1"
            ><span class="req-text">*</span>Phone Number</label
          >
          <input
            v-model="datas.phone_number"
            type="text"
            class="form-control form-control-sm"
            id="phone"
            aria-describedby="phone"
            required
          />
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary mt-2 form-control">
          Sign Up
        </button>
      </div>
    </form>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "SignUp",
  data() {
    return {
      datas: {
        firstName: "",
        lastName: "",
        username: "",
        password: "",
        confirm: "",
        email: "",
        phone_number: ""
      }
    };
  },
  computed: {
    ...mapState("auth", ["errorMessage"])
  },
  methods: {
    ...mapActions("auth", ["register"]),
    sendRequest(e) {
      e.preventDefault();
      const error = [];
      if (this.datas.lastName == "") {
        this.datas.lastName = undefined;
      }
      if (this.datas.confirm !== this.datas.password)
        error.push("Confirm Password doesn't Match");
      if (error.length > 0) {
        alert(error.join(",\r\n"));
      } else {
        const payload = {
          username: this.datas.username,
          password: this.datas.password,
          firstName: this.datas.firstName,
          lastName: this.datas.lastName,
          phoneNumber: this.datas.phone_number,
          email: this.datas.email
        };
        this.register(payload);
      }
      return false;
    }
  }
};
</script>
<style scooped>
.container-custom {
  width: 320px;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
/* .tab-sign a {
  background-color: lightblue;
}
.tab-sign p {
  background-color: lightcoral;
} */
.tab-sign a {
  font-weight: bold;
}

.tab-sign a.router-link-exact-active {
  color: #0e438a !important;
  border-bottom: #0e438a;
  border-bottom: solid;
}
</style>
