<template>
  <div class="container-custom mx-auto mb-5">
    <div class="w-100 mt-3 mb-3 text-center">
      <div class="row tab-sign">
        <router-link to="/sign-in" class="col-6">Sign In</router-link>
        <router-link to="/sign-up" class="col-6">Sign Up</router-link>
      </div>
    </div>
    <form @submit="sendRequest">
      <div class="form-group">
        <label for="username" class="mb-1"
          ><span class="req-text">*</span>Username</label
        >
        <input
          v-model="username"
          type="text"
          class="form-control form-control-sm"
          id="username"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <div class="form-group position-relative">
        <label for="password" class="mb-1"
          ><span class="req-text">*</span>Password</label
        >
        <input
          type="password"
          v-model="password"
          class="form-control input-lg form-control-sm"
          id="password"
          required
        />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary mt-2 form-control">
          Sign In
        </button>
      </div>
    </form>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "SignIn",
  data: () => ({
    username: "",
    password: ""
  }),
  methods: {
    ...mapActions("auth", ["reqLogin"]),
    sendRequest(e) {
      e.preventDefault();
      const error = [];
      if (this.username === "") error.push("Username required");
      if (this.password === "") error.push("Password required");
      if (error.length > 0) {
        alert(error.join(",\r\n"));
      } else {
        this.reqLogin({ username: this.username, password: this.password });
      }
      return false;
    }
  }
};
</script>
<style scooped>
.container-custom {
  width: 320px;
}
.req-text {
  color: #ff6865;
}
.btn-primary {
  background-color: #0e438a;
}
.tab-sign a {
  font-weight: bold;
}

.tab-sign a.router-link-exact-active {
  color: #0e438a !important;
  border-bottom: #0e438a;
  border-bottom: solid;
}
</style>
