<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <ModalCreateAddress />
        <div class="table-responsive mt-3">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Address Name</th>
                <th scope="col">Shipping Address</th>
                <th scope="col">Shipping City</th>
                <th scope="col">Postal Code</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(address, i) in dataAddress.data" :key="i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ address.addressName }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.zipCode }}</td>
                <td>
                  <button type="button" class="btn btn-light mx-1 txt-btn">
                    Update
                  </button>
                  <button type="button" class="btn btn-light mx-1 txt-btn">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ModalCreateAddress from "@/components/Modal/Create/ModalCreateAddress.vue";
import { mapActions, mapState } from "vuex";
export default {
  name: "Address",
  components: {
    ModalCreateAddress
  },
  created() {
    this.getAddress();
  },
  computed: {
    ...mapState("addresses", ["dataAddress"])
  },
  methods: {
    ...mapActions("addresses", ["getAddress"])
  }
};
</script>
<style scoped>
.table td,
.table th {
  padding: 0.25rem;
  vertical-align: top;
}
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.txt-btn {
  font-size: 0.75rem;
}
</style>
