<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Date</th>
                <th scope="col">Invoice</th>
                <th scope="col">Discount</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(order, i) in dataOrder.data" :key="i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ order.createdAt }}</td>
                <td>{{ order.idMidtrans }}</td>
                <td>{{ order.Order.Discount.discountName }}</td>
                <td>{{ order.Order.totalPayment | currency }}</td>
                <td v-if="order.status === 'pending'">
                  <p class="status-pending">{{ order.status }}</p>
                </td>
                <td v-if="order.status === 'failure'">
                  <p class="status-failure">{{ order.status }}</p>
                </td>
                <td v-if="order.status === 'challange'">
                  <p class="status-challange">{{ order.status }}</p>
                </td>
                <td
                  v-if="
                    order.status === 'success' || order.status === 'settlement'
                  "
                >
                  <p class="status-success">{{ order.status }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "History",
  created() {
    this.getOrders();
  },
  computed: {
    ...mapState("orders", ["dataOrder"])
  },
  methods: {
    ...mapActions("orders", ["getOrders"])
  }
};
</script>
<style scoped>
.table td,
.table th {
  padding: 0.25rem;
  vertical-align: top;
}
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.txt-btn {
  font-size: 0.75rem;
}
.img-store {
  width: 1.5rem;
  height: 1.5rem;
}
.del-store {
  position: absolute;
  right: 0;
}
.status-pending {
  background-color: #ecc94b;
  color: white;
  border-radius: 6px;
  padding-left: 4px;
}
.status-failure {
  background-color: #f56565;
  color: white;
  border-radius: 6px;
  padding-left: 4px;
}
.status-challange {
  background-color: #a0aec0;
  color: white;
  border-radius: 6px;
  padding-left: 4px;
}
.status-success {
  background-color: #48bb78;
  color: white;
  border-radius: 6px;
  padding-left: 4px;
}
@media (max-width: 576px) {
  .btn-light {
    background-color: white;
    border-color: #18383a !important;
    color: #18383a !important;
    font-size: 0.65rem;
  }
}
</style>
