<template>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div>
          <img src="@/assets/img/pict-dummy-profile.png" alt="Dummy Profile" />
          <button type="button" @click="logout" class="btn btn-danger mt-3">
            Sign Out
          </button>
        </div>
      </div>
      <div class="col-3 tab-profile">
        <h2>Personal data profile</h2>
        <div class="d-flex justify-content-between profile-text">
          <h3>Full Name</h3>
          <p>{{ firstName }} {{ lastName }}</p>
        </div>
        <div class="d-flex justify-content-between profile-text">
          <h3>Email</h3>
          <p>{{ email }}</p>
        </div>
        <div class="d-flex justify-content-between profile-text">
          <h3>No. HP</h3>
          <p>{{ phoneNumber }}</p>
        </div>
        <div class="d-flex justify-content-between profile-text">
          <h3>Status</h3>
          <p>{{ type }}</p>
        </div>
        <ModalUpdateProfile v-if="type === 'user'" />
      </div>
    </div>
  </div>
</template>

<script>
import ModalUpdateProfile from "@/components/Modal/Update/ModalUpdateProfile.vue";
import { mapActions } from "vuex";
export default {
  name: "Profile",
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      phoneNumber: "",
      type: ""
    };
  },
  created() {
    this.profile();
    this.typeUser();
  },
  components: {
    ModalUpdateProfile
  },
  methods: {
    ...mapActions("users", ["updateProfiles"]),
    ...mapActions("auth", ["logout"]),
    profile() {
      const storage = JSON.parse(localStorage.getItem("user"));
      this.firstName = storage.firstName;
      this.lastName = storage.lastName;
      this.email = storage.email;
      this.phoneNumber = storage.phoneNumber;
    },
    typeUser() {
      const user = JSON.parse(localStorage.getItem("user"));
      this.type = user.type;
    }
  }
};
</script>
<style scoped>
.tab-profile h2 {
  color: #dbdee2 !important;
  border-bottom: #0e438a;
  border-bottom: solid;
  font-size: 1rem;
  margin: 0 0 12px;
}
.profile-text h3 {
  color: #bdbec0;
  font-size: 0.875rem;
}
.profile-text p {
  font-size: 0.875rem;
  margin-bottom: 12px;
}
.btn-danger {
  background-color: white;
  color: #dc3543;
  border-color: none;
}
.btn-danger:hover {
  background-color: #dc3543;
  color: white;
  border-color: none;
}
</style>
