<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="w-100">
          <ModalCreateProduct />
          <button @click="delAll" type="button" class="btn btn-light del-store">
            <i class="fas fa-trash-alt"></i>
            Delete All Product
          </button>
        </div>
        <div class="table-responsive mt-3">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">img</th>
                <th scope="col">Product Name</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Weight</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(product, i) in dataProduct.data" :key="i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <img
                    :src="product.picture"
                    class="img-store"
                    :alt="product.name"
                  />
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.price | currency }}</td>
                <td>{{ product.weight | weight }}</td>
                <td>
                  <div class="inline-block">
                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      class="btn btn-light mx-1 txt-btn"
                      data-toggle="modal"
                      data-target="#modalUpdateStore"
                      @click="showModal(product.id)"
                    >
                      Update
                    </button>
                    <ModalUpdateStore
                      :idProduct="product"
                      v-show="showModalId === product.id" 
                      @close="closeModal"
                    />
                  </div>
                  <div class="inline-block">
                    <button
                      @click="delOne(product.id)"
                      type="button"
                      class="btn btn-light mx-1 txt-btn"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ModalUpdateStore from "@/components/Modal/Update/ModalUpdateStore.vue";
import ModalCreateProduct from "@/components/Modal/Create/ModalCreateProduct.vue";
export default {
  name: "Store",
  components: {
    ModalCreateProduct,
    ModalUpdateStore
  },
  data: () => ({
    showModalId: null,
  }),
  created() {
    this.getProducts();
  },
  computed: {
    ...mapState("products", ["dataProduct"])
  },
  methods: {
    showModal(id) {
      this.showModalId = id
    },
    closeModal() {
      this.showModalId = null
    },
    ...mapActions("products", ["getProducts", "delProduct", "delAllProducts"]),
    delOne(id) {
      const confirmDel = confirm("Are you sure delete this product?");
      if (confirmDel) {
        this.delProduct(id);
      }
    },
    delAll() {
      const confirmDel = confirm("Are you sure delete all products?");
      if (confirmDel) {
        this.delAllProducts();
      }
    }
  }
};
</script>
<style scoped>
.table td,
.table th {
  padding: 0.25rem;
  vertical-align: top;
}
.inline-block {
  display: inline-block !important;
}
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.txt-btn {
  font-size: 0.75rem;
}
.img-store {
  width: 1.5rem;
  height: 1.5rem;
}
.del-store {
  position: absolute;
  right: 0;
}
@media (max-width: 576px) {
  .btn-light {
    background-color: white;
    border-color: #18383a !important;
    color: #18383a !important;
    font-size: 0.65rem;
  }
}
</style>
