<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="w-100">
          <ModalCreateVoucher />
          <button
            type="button"
            @click="deleteAll()"
            class="btn btn-light del-store"
          >
            <i class="fas fa-trash-alt"></i>
            Delete All Voucher
          </button>
        </div>
        <div class="table-responsive mt-3">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Discount Name</th>
                <th scope="col">Discount</th>
                <th scope="col">Expired Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(voucher, i) in dataVoucher.data" :key="i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ voucher.discountName }}</td>
                <td>{{ voucher.expiredTime }}</td>
                <td>{{ voucher.totalDiscount }}</td>
                <td>
                  <button
                    type="button"
                    @click="delOne(voucher.id)"
                    class="btn btn-light mx-1 txt-btn"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ModalCreateVoucher from "@/components/Modal/Create/ModalCreateVoucher.vue";
import { mapActions, mapState } from "vuex";
export default {
  name: "Voucher",
  components: {
    ModalCreateVoucher
  },
  created() {
    this.getVouchers();
  },
  computed: {
    ...mapState("vouchers", ["dataVoucher"])
  },
  methods: {
    ...mapActions("vouchers", ["getVouchers", "delVoucher", "delAllVouchers"]),
    delOne(id) {
      const yesno = confirm("Are you sure you want to delete this voucher?");
      if (yesno) {
        this.delVoucher(id);
      }
    },
    deleteAll() {
      const yesno = confirm("Are you sure you want to delete all voucher?");
      if (yesno) {
        this.delAllVouchers();
      }
    }
  }
};
</script>
<style scoped>
.table td,
.table th {
  padding: 0.25rem;
  vertical-align: top;
}
.btn-light {
  background-color: white;
  border-color: #18383a !important;
  color: #18383a !important;
  font-size: 0.875rem;
}
.txt-btn {
  font-size: 0.75rem;
}
.img-store {
  width: 1.5rem;
  height: 1.5rem;
}
.del-store {
  position: absolute;
  right: 0;
}
@media (max-width: 576px) {
  .btn-light {
    background-color: white;
    border-color: #18383a !important;
    color: #18383a !important;
    font-size: 0.65rem;
  }
}
</style>
